Options -Indexes

RewriteEngine On

# GET /api/badges
RewriteRule ^$          index.php   [L,QSA]
# POST /api/badges/unlock
RewriteRule ^unlock$    index.php   [L,QSA]
# POST /api/badges/redeem
RewriteRule ^redeem$    index.php   [L,QSA]
